* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header-bar{
    height: 100px;
    background-color: #343A40;
    color: white;
    display: flex;
}
.logo-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.text-logo{
    font-size: 16px;
}

.search-bar{
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.weather-search{
    height: 40px;
    width: 530px;
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.button-search{
    background-color: #EB6F4C;
    width: 70px;
    height: 40px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s all;
}
.button-search:hover{
    border: #EB6F4C 3px solid;
    background-color: #343A40;
}
.temp-choose{
    color: black;
    display: flex;
    background-color: white;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 170px;
    height: 40px;
    margin-left: 200px;
    border-radius: 5px;
}

.weather-info{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
}
.current-info{
    padding-left: 105px;
    padding-right: 140px;
}
.current-temperature{
    margin-top:20px;
}
.line-day{
    margin-top:10px;
}
.place{
    font-size: 22px;
}

.line-day{
    color:grey;
    font-size: 14px;
}

.value-temperature{
    font-size: 60px;
    font-weight: 700;
}
.time-weather{
    display: flex;
}
